@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
font-size: 25px;
color: #d6d6c9;
background-color: #151515;
}

.header {
  padding: 20px 30px;
  font-family:"Rock Salt", cursive;
  color: #d6d6c9;
  text-align: left;
  background-image: url("../img/clouds.jpg");
  background-position: center;
}

.h1header {
  font-size: 40px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #383838;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.link {
  align-content: center;
  color: #d6d6c9;
  font-size: 17px;
  text-align: center;
  padding: 15px 19px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #fff;
  color: black;
}

.synopsis {
  padding: 20px 30px;
}

.indexblock {
  padding: 20px 30px;
  background-color: #585858;
  border: 5px #d6d6c9;
  border-style: solid;
}

video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.castblock {
  background-color: #585858;
  border: 5px #d6d6c9;
  border-style: solid;
}

.cast1, .cast2, .cast3, .cast4 {
  padding: 30px 40px;
}

.castheading {
  padding: 20px 20px;
  text-align: right;
}

.casttxt {
  padding: 40px 50px;
  text-align: right;
}

.por {
  width: 25%;
  float: left;
  padding: 20px 30px;
}

.cast1, .cast2, .cast3, .cast4:after {
  content: "";
  clear: both;
  display: block;
}

.inter1, .inter2, .inter3, .inter4 {
  width: 90%;
  padding: 5%;
}

.footer {
  color: #f2f2f2;
  background-color: #000000;
  padding: 50px 70px;
  text-align: center;
}

.bottomnav {
  overflow: hidden;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  word-spacing: normal;
  flex-grow: 1;
}

.footerlink {
  align-content: center;
  color: #d6d6c9;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
}

.footerlink a:hover{
  background-color: #000;
  color: #383838;
}

.watermark {
  overflow: hidden;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  word-spacing: normal;
  flex-grow: 1;
}

.wmark {
  align-content: center;
  color: #d6d6c9;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  padding: 30px 30px;
}
